@model Tourist_places.Models.TouristPlace

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TouristPlace</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.touristPlaceType.TouristPlaceTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.touristPlaceType.TouristPlaceTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TouristPlaceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TouristPlaceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TouristPlaceDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TouristPlaceDescription)
        </dd>

       

        

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Home", "Index")
        </div>
    }
</div>
