@model IEnumerable<Tourist_places.Models.TouristPlace>

@{
    ViewBag.Title = "Index";
}

<h2>ECHOES OF INDIA</h2>
<h3>A Timeless Journey Through Culture and Heritage</h3>
<style>
    h3
    {
        color:white;
        text-align:center;
        box-shadow:inherit;
        background-color:green;
    }
    h2 {
        color: blue;
        text-align: center;
        box-shadow: inherit;
        background-color: orange;
    }
</style>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Tourist", FormMethod.Post))
{
    <div class="form-group">
        <label for="search">Search by Name:</label>
        <input type
="text" id="search"  class="form-control" name="Name" placeholder="Enter Tourist Place Name" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
}

<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().touristPlaceType.TouristPlaceTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TouristPlaceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TouristPlaceDescription)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().ImagePath)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.touristPlaceType.TouristPlaceTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TouristPlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TouristPlaceDescription)
            </td>
            
            <td>
                <img src="@item.ImagePath"
                     alt="@item.TouristPlaceName"
                     width="200"
                     height="100" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TouristPlaceId }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.TouristPlaceId }) 

            </td>
        </tr>
    }
</table>
