@model IEnumerable<Tourist_places.Models.TouristPlace>


<h2>ECHOES OF INDIA</h2>
<h3>A Timeless Journey Through Culture and Heritage</h3>
<style>
    #vb
    {
        color:red;
    }
    h3 {
        color: white;
        text-align: center;
        box-shadow: inherit;
        background-color: green;
    }

    h2 {
        color: blue;
        text-align: center;
        box-shadow: inherit;
        background-color: orange;
    }
</style>

@Html.ActionLink("Home","Home")
@using (Html.BeginForm("return_user", "Tourist", FormMethod.Post))
{
    <div class="form-group">
        <label for="search">Search by Name:</label>
        <input type="text" id="search" class="form-control" name="Name" placeholder="Enter Tourist Place Name" />
    </div>
    
    <button type="submit" class="btn btn-primary">Search</button>
}

<hr />

<table class="table">
    <tr>
       
        <div>
    @if (ViewBag.Message != null)
    {
        <div id="vb">
            @ViewBag.Message
        </div>

    }
</div>
        <th>
            @Html.DisplayNameFor(model => model.First().touristPlaceType.TouristPlaceTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TouristPlaceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TouristPlaceDescription)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().ImagePath)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.touristPlaceType.TouristPlaceTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TouristPlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TouristPlaceDescription)
            </td>

            <td>
                <img src="@item.ImagePath"
                     alt="@item.TouristPlaceName"
                     width="200"
                     height="100" />
            </td>

        </tr>
    }
</table>
